#container {
    background-color: white;
    height: 100vh;
    width: 100vw;
}

#container {
    display: flex;
    flex-direction: column;
}

nav {
    background-color: black;
    width: 99%;
    height: 10%;
    margin: 0.5%;
    display: flex;
}

.main {
    background-color: white;
    height: 96%;
    width: 99%;
    margin: 0.5%;
    margin-top: 0.5%;
    display: flex;
    align-items: center;

}

section {
    display: flex;
    flex-direction: column;
    background-color: white;
    height: 98%;
    width: 66%;
    margin: 0.5%;
    align-items: end;



}

aside {
    display: flex;
    flex-direction: column;
    background-color: white;
    height: 98%;
    width: 33%;
    margin: 0.5%;

}


#sec1 {
    background-color: white;
    height: 49.25%;
    width: 80%;
    margin: 0.5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 3px solid black;

}

#sec2 {
    background-color: white;
    height: 49.25%;
    width: 80%;
    margin: 0.5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 3px solid black;
}

#sec1A {
    background-color: #0777cd;
    width: 100%;
    height: 25%;
}

#sec1B {
    background-color: #f5f5f5;
    width: 100%;
    height: 75%;
}

#sec2A {
    background-color: #a9a9a9;
    width: 100%;
    height: 15%;
}

#sec2B {
    background-color: #f5f5f5;
    width: 100%;
    height: 85%;
}

#sec3 {
    height: 25%;
    width: 70%;
    align-items: start;
    /* background-color: coral; */
    margin: 1%;
    display: flex;
    flex-direction: column;
    border: 3px solid black;

}

#sec3A {
    height: 25%;
    width: 100%;
    background-color: #a9a9a9;;

}

#sec3B {
    height: 75%;
    width: 100%;
    background-color: #f5f5f5;
}

#sec4 {
    height: 72%;
    width: 70%;
    align-items: start;
    background-color: coral;
    margin: 1%;
    display: flex;
    flex-direction: column;
    border: 3px solid black;

}

#sec4A {
    height: 15%;
    width: 100%;
    background-color: #a9a9a9;

}

#sec4B {
    height: 75%;
    width: 100%;
    background-color: #f5f5f5;
}

#sec4C {
    height: 10%;
    width: 100%;
    background-color: #f5f5f5;
    border-top: 3px solid black;
}